/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	h1{
		font-size:3.3em;
	}
	h2{
		font-size: 1.5em;
	}
	p{
		font-size: 15px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	h1{
		font-size:2.7em;
	}
	h2{
		font-size: 1.2em;
	}
	p{
		font-size: 12px;
	}
	.article:hover p{
		width: 89%;
	}
	.article h2{
		padding: 0 20px;
	}
	.content li{
		font-size: 12px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	h1{
		font-size:2.5em;
	}
	h2{
		font-size: 1.9em;
	}
	p{
		font-size: 13px;
	}
	.article p{
		font-size: 25px;
	}
	.article:hover p{
		width: 94%;
		padding: 0 20px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	h1{
		font-size:1.5em;
	}
	h2{
		font-size: 1.3em;
	}
	p{
		font-size: 13px;
	}
	.article p{
		font-size: 15px;
	}
	.article:hover p{
		width: 90%;
		padding: 0 10px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	h1{
		font-size:1.2em;
	}
	h2{
		font-size: 1.3em;
	}
	p{
		font-size: 12px;
	}
	.article p{
		font-size: 12px;
	}
	.article:hover p{
		width: 86%;
		padding: 0 10px;
	}

	.main_menu li{
		font-size: 12px;
		letter-spacing: 1px;
		padding: 5px 0;
	}

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.article:nth-child(10){
		display: none;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}